body {
    background-color: #121212;
    color: white;
    font-family: Arial;
    text-align: center;
    padding-top: 100px;
}

.container {
    width: 400px;
    margin: auto;
}

input {
    padding: 10px;
    width: 80%;
}

button {
    padding: 10px;
    margin-top: 10px;
    background: #00adb5;
    border: none;
    color: white;
    cursor: pointer;
}
